<!DOCTYPE html>

<html>

<head>
<title> chat app </title>

<style>
*{background-color:white;}

div.message.center {
text-align:center;
background-color:grey;
color:white;
padding:5px 20px;
margin:20px;
border:1px solid grey;
display
}

div.container{

background-color:black;
color:white;
 padding:30px;
margin: auto;
overflow-y:auto;
height:500px;
width: 30%;
border:1px solid grey;
}
div.container2{

background-color:black;
color:white;
padding:30px;
margin: auto;
overflow-y:auto;
height:100px;
width: 30%;
border:1px solid grey;
}


</style>

</head>


<body>
<div class="container">
<div class="message center">
{{ post.content}}
</div>




</div>


</body>


</html>